/target_distribution.png
/correlation_heatmap_creditos.png
/correlation_heatmap_tarjetas.png
/estado_civil_distribution_tarjetas.png
/estado_cliente_distribution_tarjetas.png
/genero_distribution_tarjetas.png
/nivel_educativo_distribution_tarjetas.png
/nivel_tarjeta_distribution_tarjetas.png
/objetivo_credito_distribution_creditos.png
/situacion_vivienda_distribution_creditos.png
